<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
  <div class="w-full block flex-grow flex items-center px-20">
    <div class="text-sm flex-grow">
      <%= link_to "Home", root_path, class: "block inline-block mt-0 text-blue-200 hover:text-white mr-4" %>
      <a href="#responsive-header" class="block inline-block mt-0 text-blue-200 hover:text-white mr-4">
        Examples
      </a>
    </div>
    <div class="dropdown">
      <div class="text-white px-2 py-1 rounded inline-flex items-center mr-1">
      <span class="mr-1">Account</span>
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
      </div>
      <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
        <li class="">
          <%= link_to "Login", login_path, class: "bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" %>
        </li>
        <li class="">
          <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap rounded-t" href="#">Logout</a>
        </li>
        <li class="">
          <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap rounded-b" href="#">SignUp</a>
        </li>
      </ul>
    </div>

    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-0">Sign Up</a>
    </div>
  </div>
</nav>
